@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}



body {
    background-image: url(bg.webp);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgb(201, 199, 199);
    position: fixed;
    width: 100%;
    text-align: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    height: 50px;
    list-style: none;
}

nav li:first-child {
    margin-right: auto;
}
nav li:nth-child(8){
    margin-left: auto;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
    color: black;
}
nav a:hover {
    background-color: rgba(0, 0, 0, 0.144);
}

nav img {
    width: 50px;
    margin: 0 30px 0 0;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    width: 250px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;

}
.sidebar a {
    width: 100%;
    color: white;
    font-size: 1.2em;

}

.manu_button {
    display: none;
}

/* HEAD CONTAINER STARTS */

.head_container {
    height: 100vh;
    background-image: url(images/Untitled.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        display: block;
        background-color: rgba(0, 0, 0, 0.616);
        height: inherit;
        padding: 10% 10% 0px;

        h1 {
            font-size: 3.5rem;
            width: 60%;
            color: rgb(233, 231, 231);
            margin-bottom: 2%;
            font-family: "Outfit", sans-serif;
            font-weight: 300;
        }
        p {
            font-size: 2rem;
            color: rgb(233, 231, 231);
            width: 40%;
            margin-bottom: 3.5%;
            font-family: "Outfit", sans-serif;
            font-weight: 300;
        }
        a {
            background-color: #6C8B7C;
            padding: 0 2em;
            width: fit-content;
            border-radius: 1.11em;
            font-size: 1.8rem;
            height: 2.2em;
            font-family: "Outfit", sans-serif;
            font-weight: 300;
            text-decoration: none; 
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: .7s;
         } 
         a:hover {
            background-color: rgb(233, 231, 231);
            color: #6C8B7C;
         }
         
    }
}
/* HEAD CONTAINER ENDS */



 /* HEAD HEAD SECTIONS STARTS */

.sections_container {
    margin-top: -170px;

    font-family: "Outfit", sans-serif;
    background-color: #6C8B7C;
    display: flex;
    justify-content: center;
    align-items: center;
    

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 30px;

        h1 {
            font-size:4.5rem;
            color: aliceblue;
            font-weight: 300;
        }
        p {
            font-size: 1.5rem;
            color: aliceblue;
            width: 90%;
        }

    }
}


 /* HEAD HEAD SECTIONS ENDS */

 /* HEAD MAIN STARTS */

.head_main_container {
    height: 100vh;
    background-color: white;
    

    .head_main_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10% 10% 0 10%;
        font-family: "Outfit", sans-serif;
        font-weight: 300;

        

        p {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 40px;
            letter-spacing: 2px;

            span {
                color: #6C8B7C;
            }

        }
    }
}
 /* HEAD MAIN ENDS */




 /*  MAIN STARTS */

.main_container {
    padding: 0 0 150px 0;

    .main_content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Outfit", sans-serif;

        img {
            width: 100%;
        }
        .content {
            padding: 50px;
            
            .head {
                h1 {
                    font-size: 4rem;
                    font-weight: 400;
                    line-height: 70px;
                }

                p {
                    font-size: 1.5rem;
                        span {
                        color: #6C8B7C;;
                        }
                    }      
                }
                .main {
                    font-size: 1.3rem;
                    
                    li {
                        margin-bottom: 10px;
                    }
                    li:first-child {
                        margin-top: 2rem;
                    }
                    li::marker {
                        color: #6C8B7C;;
                    }
                }
                .fotter {
                    font-size: 1.3rem;
                    margin-top: 30px;

                    a{
                        text-decoration: none;
                        color: #6C8B7C;;
                    }
                }
        }
        .read_more {
            margin-top: 30px;
            background-color: #6C8B7C;
            padding: 0 2em;
            width: fit-content;
            border-radius: 1.11em;
            font-size: 1.8rem;
            height: 2.2em;
            font-family: "Outfit", sans-serif;
            font-weight: 300;
            text-decoration: none; 
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: .7s;
         } 
         a:hover {
            background-color: rgb(233, 231, 231);
            color: #6C8B7C;
         }
    }
}

 /*  MAIN ENDS */

 /* FOOTER */


.head_footer_content {
    padding: 100px;
    background-color: #6C8B7C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-weight: 300;
    }
    .button {
        a{
            margin-top: 30px;
            background-color: rgb(233, 231, 231);
            padding: 0 1em;
            width: fit-content;
            border-radius: 1.11em;
            font-size: 1.8rem;
            height: 1.5em;
            font-family: "Outfit", sans-serif;
            font-weight: 300;
            text-decoration: none; 
            color: #6C8B7C;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: .7s;
         } 
         a:hover {
            background-color: #504949;
            color:rgb(233, 231, 231);
         }
    }
}


 /* FOOTER ENDS */


 @media (max-width: 1250px) {
    .hideOnMobile {
        display: none;
    }
    .manu_button {
        display: block;
    }
    
 }

@media (max-width: 1370px) {
    
    .head_container {
       .content {
            h1 {
                margin-top: 5rem;
                font-size: 2.5rem;
            } 
            p {
                font-size: 1.4rem;
            }
            a {
                padding: 0 .7em;
                font-size: 1.5rem;
                height: 1.8em;
            }
        }
    } 
    .sections_container {
        section {
            h1 {
                font-size:2.5rem; 
            }
            p {
            font-size: 1.25rem;
            }
        }
    }
    .head_main_container {
    
        .head_main_content {
            p {
                font-size: 1.5rem;
    
            }
        }
    }
    .main_container {
        margin-top: -200px;
    padding: 0 0 150px 0;

    .main_content {

        
        .content {
            
            .head {
                h1 {
                    font-size: 2.5rem;
                    font-weight: 400;
                    line-height: 50px;
                }

                p {
                    font-size: 1.3rem;
                        
                    }      
                }
                .main {
                    font-size: 1rem;
                    
                    li {
                        margin-bottom: 10px;
                    }
                    
                    li::marker {
                        color: #6C8B7C;;
                    }
                }
                .fotter {
                    font-size: 1.3rem;
                    margin-top: 30px;

                    
                }
        }
        .read_more {
            padding: 0 1em;
            border-radius: 1.11em;
            font-size: 1.4rem;

         } 
         
    }
    }



}

@media (max-width: 990px) {
    .hide_under990 {
        display: none;
    }
    .main_container {
    padding: 0 0 150px 0;

    .main_content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: "Outfit", sans-serif;
        text-align: center;

        img {
            width: 100%;
        }
        .content {
            padding: 50px;
            
            .head {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1 {
                    font-size: 4rem;
                    font-weight: 400;
                    line-height: 70px;
                }

                p {
                    font-size: 1.5rem;
                        span {
                        color: #6C8B7C;;
                        }
                    }      
                }
                .main {
                    font-size: 1.3rem;
                    
                    
                }
                .fotter {

                    a{
                        text-decoration: none;
                        color: #6C8B7C;;
                    }
                }
        }
        .read_more {
            margin: 30px;
            padding:  1.2em;
            border-radius: 1.11em;
            font-size: 1.4rem;
            height: 1em;
            transition: .7s;
         } 
         
    }
}

}